y
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Lagerhantering</h2>
  </div>

  @if(!isAddFormVisible()) {
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-success" (click)="openAddForm()" [disabled]="isAddFormVisible()">
      <i class="bi bi-plus"></i>
      Ny artikel
    </button>
  </div>
  } @else {
  <div class="mb-4">
    <app-add-item-form
      [existingItems]="items()"
      (itemAdded)="onItemAdded($event)"
      (cancel)="closeAddForm()"
    >
    </app-add-item-form>
  </div>
  }
  <p class="text-muted">
    Totalt {{ items().length }} {{ items().length === 1 ? 'artikel' : 'artiklar' }}
  </p>

  <div class="table-responsive rounded-4 overflow-hidden">
    <table class="table table-bordered table-hover">
      <thead id="table-header-custom">
        <tr id="table-header-custom" class="text-center">
          <th>#</th>
          <th>Artikelnamn</th>
          <th>Antal</th>
          <th class="d-none d-sm-table-cell">Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (item of items(); track item.id; let index=$index) {
        <tr [ngClass]="getStatusClass(item.statusColor)">
          <!-- Edit-mode -->
          @if (editId === item.id) {
          <td>{{ index + 1 }}</td>
          <td>
            <input [(ngModel)]="editItem.name" class="form-control" name="editName" />
          </td>
          <td>
            <input [(ngModel)]="editItem.unit" class="form-control" name="editUnit" />
          </td>
          <td class="d-none d-sm-table-cell"></td>
          <td>
            <div class="d-flex justify-content-evenly align-items-center mt-1 flex-wrap">
              <button class="btn btn-success btn-sm mb-1 mb-sm-0" (click)="saveEdit(item)">
                Uppdatera
              </button>
              <button class="btn btn-secondary btn-sm" (click)="cancelEdit()">Avbryt</button>
            </div>
          </td>
          } @else {
          <td>{{ index + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }} {{ item.unit }}</td>
          <td class="d-none d-sm-table-cell">
            @if (item.statusColor === 'red') {
            <span class="badge fw-medium text-bg-danger"> Kritiskt</span>
            } @else if (item.statusColor === 'yellow') {
            <span class="badge fw-medium text-bg-warning">Lågt</span>
            } @else if (item.statusColor === 'green') {
            <span class="badge fw-medium text-bg-success">OK</span>
            }
          </td>
          <td class="d-flex justify-content-evenly align-items-center flex-wrap">
            <i class="bi bi-pencil me-2 blue-icon fs-6" (click)="startEdit(item)"></i>
            <i class="bi bi-trash me-2 blue-icon fs-6" (click)="openDeleteConfirmation(item)"></i>
            <button class="btn btn-blue btn-sm mt-1 mt-sm-0" (click)="openStockUpdateModal(item)">
              Saldoändring
            </button>
          </td>
          }
        </tr>

        } @empty {
        <tr>
          <td colspan="4" class="text-center text-muted">Inga artiklar hittades</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
