.table-warning {
  --bs-table-bg: rgba(255, 193, 7, 0.1);
}
.table-danger {
  --bs-table-bg: rgba(220, 53, 69, 0.1);
}

/* Custom table header styling */
#table-header-custom th {
  background-color: #37474f;
  color: #fff;
}
::placeholder {
  color: lightgray;
}
td {
  text-align: center;
  vertical-align: middle;
}
.blue-icon {
  color: #005b89;
  cursor: pointer;
}
.blue-icon:hover {
  color: #37474f;
}
