body,
app-root {
  background-color: #f3f0ef;
  display: flex;
  flex-direction: column;
  font-family: Verdana, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
.btn-blue {
  background-color: #005b89;
  color: #fff;
}
.btn-blue:hover {
  background-color: #004a6c;
  color: #fff;
}
.btn-blue:disabled {
  background-color: #37474f;
  color: #fff;
}
.text-blue {
  color: #005b89;
}
.btn-outline-secondary,
.btn-secondary {
  border-color: #37474f;
  color: #37474f;
}
.btn-outline-secondary:hover,
.btn-secondary {
  background-color: #37474f;
  color: #fff;
}
.form-label {
  font-weight: bold;
  text-align: start;
}
.tooltip-inner {
  background-color: #37474f;
  color: #fff;
}
.badge,
.alert {
  border-radius: 1.25rem 1.25rem 1.25rem 0;
}

@media (max-width: 440px) {
  body,
  app-root,
  .btn-blue {
    font-size: 11px;
  }
}
