html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Verdana, 'Helvetica Neue', sans-serif;
  background-color: #f3f0ef;
}
.btn-blue {
  background-color: #005b89;
  color: #fff;
}
.btn-blue:hover {
  background-color: #004a6c;
  color: #fff;
}
.text-blue {
  color: #005b89;
}
.btn-outline-secondary {
  border-color: #37474f;
  color: #37474f;
}
.btn-outline-secondary:hover {
  background-color: #37474f;
  color: #fff;
}
.form-label {
  font-weight: bold;
  text-align: start;
}
.tooltip-inner {
  background-color: #37474f;
  color: #fff;
}
